/**
* Less CSS
*
* @author   Leandro Diniz
*
*/
 
/**
* Structure
*
* Main structure and common components as 
* reset, @font-face, palette.
*
* @section structure
* 
*/
 
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* W3C */
}

nav{
    overflow: hidden;
    margin: 0 0 10px 0;
    li{
        float: left;
        margin: 0 10px 0 0;
        border-right: 1px solid #c1c1c1;
        padding: 0 10px 0 0;
    }
    a{
        color: #B5B5B5;
        text-transform: uppercase;
        font-size: 14px;
        &:hover{
            color: #000;
        }
    }
}

h2{
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px 0;
}

table{
    width: 100%;
    border-top: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    th{
        text-align: left;
        border-bottom: 1px solid #E7E7E7;
        border-right: 1px solid #E7E7E7;
        padding: 5px;
        color: #c1c1c1;
    }
    td{
        color: #7c7c7c;
        border-bottom: 1px solid #E7E7E7;
        border-right: 1px solid #E7E7E7;
        padding: 5px;
        font-size: 14px;
    }
    .link-action{
        font-size: 14px;
        &:hover{
            text-decoration: underline;
        }
    }
    .remove-user{
        color: #ff4646;
    }
    .edit-user{
        color: #3F90C2;
    }
}

form{
    input[type=text]{
        display: block;
        border: 1px solid #c1c1c1;
        padding: 5px;
        border-radius: 5px;
        margin: 0 0 15px 0;
        width: 100%;
        height: 35px;
        font-size: 14px;
        color: #000;
    }
    label{
        display: block;
        margin: 0 0 5px 0;
        font-size: 14px;
        color: #333;
    }
    select{
        border: 1px solid #c1c1c1;
        font-size: 14px;
        height: 35px;
        margin: 0 0 15px 0;
        width: 100%;
    }
    input[type=submit]{
        background: #ccc;
        font-size: 12px;
        padding: 10px 20px;
        border: 1px solid #999;
        border-radius: 5px;
    }
}

.success-message{
    font-size: 12px;
    padding: 10px 0;
    color: lightseagreen;
}

.error-message{
    font-size: 12px;
    color: firebrick;
}
.delete-message{
    font-size: 12px;
    margin: 0 0 10px 0;
    color: darkred;
}

.container {
    width: 600px;
    padding: 30px;
    margin: 40px auto;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}